@import "../../styles/base/typography";

.word-count{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
}

.title {
  color: white;
  padding-right: 1rem;
}

.answer {
  color: #29c6aa;
}

input {
  width: 100px;
  margin-right: 1rem;
}

.error-message {
  color: indianred;
  padding-top: 2rem;
}

.hint-message {
  color: #9cd1ff;
  padding-top: 1rem;
}
