// layout
$background: #2E4053;
$background-form: #394f67;

// button
$button-primary: #29c6aa;
$button-primary-hover: #21a58e;
$button-color-secondary: #6e98bc;
$button-color-secondary-hover: #577a97;
